# Porta do Servidor
PORT=3333
# Link para acesso direto do seu Cluster MongoDB Atlas
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/ministerio_saude
# Chave da API do Gemini para embeddings
GEMINI_API_KEY=AIzaSyA_sua_chave_do_gemini_aqui
# Senha mestra da porta de entrada do Dashboard
SITE_PASSWORD=sua_senha_aqui
