# URL onde o NestJS estará rodando localmente (Em Produção, a Vercel cuida disso automaticamente)
VITE_API_BASE_URL=http://localhost:3333
# Chave de segurança para a criptografia do cookie (Mínimo de 32 caracteres!)
SESSION_SECRET=minhachavesecretade32caracteresparaodesenvolvimento123
